.page {
  font-size: 24px;
  font-family: 'Montserrat', sans-serif;
  line-height: 36px;
  scroll-behavior: smooth;
  font-weight: 400;
  color: $main-font;
}

.page__body {
  display: grid;
  align-content: start;
  min-width: 320px;
  min-height: 100%;
  margin: 0 auto;
}

.page__header {
  position: relative;
  width: 100%;
  margin: 0 auto;
  z-index: 4;
}

.page__header-logo {
  display: block;
  --non: block;

  @media (max-width: $full-hd) {
    margin: 0 0 0 0;
    width: 195px;
    height: 48px;
  }

  @media (max-width: $desktop) {
    width: 45px;
    height: 39px;
  }

  &--small {
    @media (max-width: $desktop) {
      display: none;
    }
  }
}



.page__header-bg {
  position: absolute;
  top: 0;
  left: 0;
  min-height: 1014px;
  width: 100%;
  background-image: url("../../img/bg-header.jpg");
  background-repeat: no-repeat;
  z-index: 2;
  background-position: bottom;

  @media (max-width: $full-hd) {
    min-height: 840px;
    background-size: cover;
    background-position: center;
  }

  @media (max-width: $desktop) {
    min-height: 542px;
    background-position: 20% 50%;
  }

  @media (max-width: $tablet) {
    min-height: 444px;
    opacity: 0.8;
    background-position: top;
  }
}

.page__main {
  margin: 0 auto;
  position: relative;
  width: 100%;
}

.page__main-sections {
  max-width: 1920px;
  margin: 0 auto;
  padding: 150px 100px 100px 100px;
  position: relative;

  @media (max-width: $full-hd) {
    padding: 150px 56px 50px 56px;
  }

  @media (max-width: $desktop) {
    padding: 70px 24px 50px 24px;
  }

  @media (max-width: $tablet) {
    padding: 40px 0 65px 0;
  }
}

.page__main-title-bg {
  position: absolute;
  width: 728px;
  height: 109px;
  background-image: url("../../img/bg-title-blue.png");
  background-repeat: no-repeat;
  top: 135px;
  left: 0;
  right: 0;
  margin: auto;
  z-index: 1;

  &--beige {
    background-image: url("../../img/bg-title-beige.png");

    @media (max-width: $tablet) {
      background-image: none;
    }
  }


  @media (max-width: $full-hd) {
    top: 140px;
  }

  @media (max-width: $desktop) {
    background-size: 77%;
    background-position: center;
    top: 50px;
  }

  @media (max-width: $tablet) {
    background-image: none;
    width: 0;
  }
}

.page__main-title {
  @include font(700, 40px, 60px);
  margin: 0;
  text-align: center;
  position: relative;
  z-index: 2;

  @media (max-width: $desktop) {
    @include font(700, 30px, 45px);
  }

  @media (max-width: $tablet) {
    padding: 0;
    height: auto;
  }

  .section-contacts & {
    @media (max-width: $tablet) {
      padding: 0 16px;
    }
  }

  &--two-lines-word {
    @media (max-width: $tablet) {
      padding: 0 20px 0 20px;
    }
  }
}

.page__footer {
  margin: 0 auto;
  padding: 0 100px;
  max-width: 1920px;
  width: 100%;
  background-color: $footer;

  @media (max-width: $desktop) {
    padding: 0 24px 0 24px;
  }

  @media (max-width: $tablet) {
    padding: 20px 16px 0 16px;
  }
}

.page__footer-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  @include font(400, 20px, 30px);
  letter-spacing: 0.01em;
  padding: 30px 0 0 0;

  @media (max-width: $desktop) {
    @include font(400, 14px, 21px);
    gap: 10px;
  }

  @media (max-width: $tablet) {
    padding: 0;
    gap: 20px;
  }
}

.page__footer-confidentiality {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  gap: 100px;

  @media (max-width: $desktop) {
    gap: 40px;
  }

  @media (max-width: $tablet) {
    flex-direction: column;
    gap: 10px;
  }
}

.page__footer-сopyright {
  margin: 0;
  padding: 0 0 30px 0;


  @media (max-width: $tablet) {
    @include font(400, 10px, 15px);
    padding: 0 0 20px 0;
  }
}

.page__footer-text {
  margin: 0;
  color: $main-font;
  transition: 0.6s;

  @media (max-width: $tablet) {
    padding: 0;
  }

  &:hover {
    color: $hover-font;
    transition: 0.6s;
  }
}

.page__header-nav {

  @media (max-width: $tablet) {
    display: none;
  }
}


