.section-menu {
  position: relative;
  width: 1920px;
  overflow: hidden;

  @media (max-width: $full-hd) {
    width: 1700px;
  }

  @media (max-width: 1729px) {
    width: 1450px;
  }

  @media (max-width: 1500px) {
    width: 1200px;
  }

  @media (max-width: $desktop) {
    width: 100%;
    padding: 70px 16px 50px;
  }

  @media (max-width: $tablet) {
    padding: 40px 16px 60px 16px;
  }
}

.section-menu__container {
  width: 4500px;
  padding: 0;

  @media (max-width: $desktop) {
    width: 100%;
  }
}

.section-menu__slider {
  list-style: none;
  padding: 110px 0 0 0;
  margin: 0;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 32px;
  position: relative;
  left: -1315px;

  @media (max-width: $full-hd) {
    gap: 16px;
    left: -1038px;
    padding: 160px 0 0 0;
  }

  @media (max-width: 1729px) {
    left: -980px;
  }

  @media (max-width: 1500px) {
    left: -1105px;
  }

  @media (max-width: $desktop) {
    gap: 50px 12px;
    left: 0;
    flex-wrap: wrap;
    justify-content: center;
    padding: 70px 0 0 0;
  }

  @media (max-width: $tablet) {
    padding: 40px 0 0 0;
  }
}

.section-menu__img-container{
  position: relative;
  width: 406px;
  min-height: 560px;

  @media (max-width: $full-hd) {
    width: 352px;
    min-height: 483px;
  }

  @media (max-width: $tablet) {
    width: 328px;
    min-height: 450px;
  }

  &:after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    background: transparent;
    border-radius: 10px;
    background-image: linear-gradient(180deg, rgba(25, 25, 25, 0) 0.12%, rgba(25, 25, 25, 0) 69.39%, rgba(14, 14, 14, 0.24) 81.87%, rgba(14, 14, 14, 0.8) 99.89%);
    opacity: 0.8;
    height: 100%;
    width: 100%;
    transition: 0.9s;

    .section-menu__cake:hover & {
      background-image: linear-gradient(180deg, rgba(25, 25, 25, 0) 0.11%, rgba(25, 25, 25, 0.08) 47.79%, rgba(25, 25, 25, 0.4) 59.87%, rgba(14, 14, 14, 0.6) 67.37%, rgba(14, 14, 14, 0.8) 80.1%);
      transition: 0.9s;
    }
  }
}

.section-menu__cake {
  position: relative;
  width: 406px;

  @media (max-width: $full-hd) {
    width: 352px;
  }

  @media (max-width: $desktop) {

    &:nth-child(n+7) {
      display: none;
    }
  }

  @media (max-width: 1135px) {

    &:nth-child(n+5) {
      display: none;
    }
  }

  @media (max-width: $tablet) {
    width: 328px;

  }

  @media (max-width: 703px) {

    &:nth-child(n+4) {
      display: none;
    }
  }
}

.section-menu__cake-img {
  width: 100%;
  height: auto;
  position: absolute;
  border-radius: 10px;
}

.section-menu__cake-all {
  @include font(600, 18px, 27px);
  display: none;
  text-align: center;
  color: $cake-all;
  letter-spacing: 0.01em;
  padding: 30px 0 0 0;
  margin: 0;

  @media (max-width: $desktop) {
    display: block;
  }
}

.section-menu__cake-text {
  position: absolute;
  z-index: 5;
  padding: 500px 0 0 0;
  width: 100%;
  transition: 0.6s;

  @media (max-width: $full-hd) {
    padding: 418px 0 0 0;
  }

  @media (max-width: $desktop) {
    padding: 422px 0 0 0;
  }

  @media (max-width: $tablet) {
    padding: 392px 0 0 0;
  }

  .section-menu__cake:hover & {
    padding: 390px 0 0 0;
    transition: 0.6s;

    @media (max-width: $full-hd) {
      padding: 290px 0 0 0;
    }
  }

  &--two-lines-word {

    @media (max-width: $full-hd) {
      padding: 395px 0 0 0;
    }

    @media (max-width: $desktop) {
      padding: 401px 0 0 0;
    }

    @media (max-width: $full-hd) {

      .section-menu__cake:hover & {
        padding: 245px 0 0 0;
        transition: 0.6s;
      }
    }
  }
}

.section-menu__cake-name {
  @include font(600, 28px, 42px);
  color: $cake-font;
  text-transform: uppercase;
  text-align: center;
  margin: 0;
  padding: 0;

  @media (max-width: $tablet) {
    @include font(600, 24px, 36px);
  }

  .section-menu__cake:hover & {
    color: $cake-active-font;
  }

  .section-menu__cake:active & {
    color: $cake-font;
  }
}

.section-menu__cake-description {
  @include font(400, 20px, 30px);
  color: $second-font;
  letter-spacing: 0.01em;
  opacity: 0.7;
  text-align: center;
  margin: 0;
  padding: 0;
  display: none;
  transition: 0.9s;

  .section-menu__cake:hover & {
    display: block;
    transition: 0.9s;
  }
}

.section-menu__cake-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  @include font(400, 20px, 30px);
  padding: 30px 0 30px 0;

  @media (max-width: $full-hd) {
    padding: 26px 0 22px 0;
  }

  @media (max-width: $tablet) {
    padding: 19px 0 23px 0;
  }

}

.section-menu__cake-param {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 0 0 0 5px;
  margin: 0;
}

.section-menu__cake-weight {
  @include font(600, 20px, 30px);
  margin: 0;
  padding: 0;
}

.section-menu__cake-more {
  display: flex;
}

.section-menu__cake-less {
  display: flex;
}

.section-menu__cake-svg {
  fill: $button-slider;

  &:hover {
    fill: $button-slider-hover;
  }

  &:active {
    fill: $social-slider-active;
  }
}

.section-menu__cake-price {
  @include font(600, 20px, 30px);
  margin: 0;
  padding: 0 0 0 5px;
}

.section-menu__slider-button {
  @include flex;
  position: absolute;
  background-color: #79BBDA;
  box-shadow: 0 4px 4px rgb(40 22 22 / 25%);
  border-radius: 10px;
  width: 76px;
  height: 76px;
  margin: 0;
  padding: 0;
  z-index: 6;
  transition: 0.5s;

  @media (max-width: $desktop) {
    display: none;
  }

  &--left {
    top: 550px;
    left: 45px;
    transform: rotate(-180deg);

    @media (max-width: $full-hd) {
      top: 555px;
      left: 27px;
    }
  }

  &:hover {
    background-color: $button-slider-hover;
    transition: 0.5s;

  }

  &--right {
    top: 550px;
    right: 40px;

    @media (max-width: $full-hd) {
      top: 555px;
      right: 27px;
    }
  }
}
