.section-contacts {

  @media (max-width: $full-hd) {
    padding: 132px 56px 90px 56px;
  }

  @media (max-width: $desktop) {
    width: 768px;
    padding: 82px 24px 158px 24px;
  }


  @media (max-width: $tablet) {
    width: 100%;
    padding: 67px 16px 110px 16px;
  }
}

.section-contacts__container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 32px;
  padding: 35px 0 0 0;

  @media (max-width: $full-hd) {
    padding: 60px 0 0 0;
    gap: 24px;
    align-items: normal;
    position: relative;
  }

  @media (max-width: $desktop) {
    flex-direction: column;
    padding: 5px 0 0 0;
    gap: 40px;
  }
}

.section-contacts__information {
  //max-width: 844px;
  width: 100%;

  @media (max-width: $full-hd) {
    //max-width: 542px;
  }

  @media (max-width: $tablet) {
    //max-width: 328px;
  }
}

.section-contacts__title {
  @include font(600, 24px, 36px);
  margin: 0;
  padding: 23px 0 15px 0;

  @media (max-width: $full-hd) {
    &:nth-of-type(1) {
      padding: 0 0 15px 0;
    }

    &:last-of-type {
      padding: 23px 0 10px 0;
    }
  }

  @media (max-width: $tablet) {
    @include font(600, 18px, 27px);
  }
}

.section-contacts__description {
  @include font(400, 20px, 30px);
  letter-spacing: 0.01em;
  margin: 0;
  padding: 0 0 27px 0;
  white-space: pre-line;

  @media (max-width: $full-hd) {
    white-space: normal;
  }

  @media (max-width: $full-hd) {
    white-space: pre-line;
  }

  @media (max-width: $tablet) {
    @include font(400, 18px, 27px);
  }

  &--phone {
    display: inline-block;
    transition: 0.6s;
    color: $main-font;

    @media (max-width: $full-hd) {
      padding: 0 0 10px 0;
    }

    &:hover {
      color: $hover-font;
      transition: 0.6s;
    }
  }
}

.section-contacts__location {
  background-image: url("../../img/cake-location.jpg");
  width: 100%;
  height: 573px;
  background-repeat: no-repeat;

  @media (max-width: $full-hd) {
    height: 361px;
    background-size: cover;
    border-radius: 20px;
   }

  @media (max-width: $desktop) {
    height: 493px;
  }

  @media (max-width: $tablet) {
    background-position: center;
  }
}
