.section-video__container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  padding: 110px 0 0 0;

  @media (max-width: $full-hd) {
    padding: 110px 0 0 0;
  }

  @media (max-width: $desktop) {
    padding: 70px 0 0 0;
  }

  @media (max-width: $tablet) {
    padding: 40px 0 0 0;
  }
}

.section-video__play {
  position: absolute;
  width: 144px;
  height: 144px;
  border-radius: 100px;
  background-color: $button-play;
  @include flex;
  transition: 0.5s;

  @media (max-width: $desktop) {
    width: 80px;
    height: 80px;
  }

  &:hover {
    background-color: $button-play-hover;
    transition: 0.5s;
  }
}
.section-video__icon-play {
  width: 44px;
  height: 50px;
  margin: 0 0 0 10px;

  @media (max-width: $desktop) {
    width: 25px;
    height: 27px;
  }
}
