//COLORS
$paleblue: #81b3d2;
//GRADIENT AND SHADOW
$nav-last-two: rgba(0, 0, 0, 0.2);
//BORDER
$nav-border: rgba(1, 1, 1, 0.2);
// SVG COLORS
$svg-mobile-rest: #5c6870;
// Viewports
$tablet-width: 768px;
$desktop-width: 1200px;
$mobile-width: 320px;
$only-mobile-width: 767px;
